#container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


#header {
    background-image: url(/Users/Personal/Downloads/steve_jobs.jpg);
    background-color: white;
    height: 550px;
    width: 950px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    

}


#quote-1 {
    height: 75px;
}

.text {
    color: solid black;
    line-height: 1.3cm;
    text-align: center;
    font-size: 150%;
    font-family: 'pacifico', cursive;

}

.timeline {
    height: 110px;
    width: 750px;
    font-size: 50px;
    color: lightgray;
    margin-right: auto;
    margin-left: auto;
}

#timeline1 {
position: relative;
top: 10px;
left: 10px;
}

.content {
    height: 700px;
    width: 800px;
    background-color: white;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: 'Dosis' , sans-serif;
}


.event-date {
    border-top: 2px solid #ccc;
    padding: 4px 5px 6px 0;
    float: left;
    clear: left;
    line-height: 26px;
    width: 100px;
    height: 7px;
    margin: -1px 0 0 0;
    text-align: center;
    font-weight: bold;
}

.date-child {
border-top: 1px solid #ccc;
margin-top: 0px;
}

.event-desc {
    
    border-top: 1px solid #ccc;
    padding: 8px 12px 8px 8px;
    width: 625px;
    float: left;
    clear: right;
    font-size: 14px;
    background: #f9f9f9;
    margin: 0px;
}

.desc-child {
    border-bottom: 1px solid #ccc;
}


.side-content {
    height: 700px;
    width: 300px;
    background-color: white;
    float: right;
    clear: both;
    position: relative;
    bottom: 680px;
  }

#nutshell {
    font-size: 200%;
    font-family: 'Dosis' , sans-serif;
    font-weight: bold;
    
}


  
  

  #second-image {
    width: 250px;
    height: 200px;
    position: relative;
    top: 0px;
    float: right;
    right: 18px;
  }

#table {
    font-size: 14px;
    text-align: center;
    font-family: 'Dosis' , sans-serif;
    position: relative;
    margin-bottom: 2em;

}

 td {
    border-bottom: 1px solid #dddddd;
    padding: 0.2em;
  }

  .footer {
    height: 200px;
    position: relative;
    top: 30px;
    margin-top: 50px;
    
    font-family: 'pacifico', cursive;
    font-size: 150%;
    background-color: #ececec;

}

#footer-text  {
    text-align: center;
    position: relative;
    top:5px;
    left: 150px;
}


#footer-link:hover {
color:blue;
text-decoration: underline;
text-decoration-color: red;

}

#footer-link {
    color: dodgerblue;
    text-decoration: none;
    }
    